<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <!-- 여백 생성!! -->
        <form action="{% url 'count' %}">
            <!--urls.py에서의 name이 count인 것..??이케 쓰면 views.py에 넘어가..?-->
            <div class="form-group">
                <label for="exampleInputPassword1">글을 입력하세요</label>
                <textarea name="fulltext" id="" cols="30" rows="10"></textarea>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{% url 'about' %}">
            <!--urls.py를 통해 about의 path 가져옴-->
            <button type="submit" class="btn btn-primary">About</button>
        </a>

        <br><br>
        <h1>로또뽑기</h1>
        <!-- 로또뽑기 -->
        <a href="{% url 'select' %}">
            <!-- 이 버튼을 누르면 select로 보내주세요 -->
            <button type="submit" class="btn btn-primary">뽑기!</button>
        </a>
        {% for number in list%} 
        <!-- list에 이는 값을 number로 하나씩 받아서 -->
            <span>
                <img src="http://www.lotto.co.kr/resources/images/lottoball_92/on/{{number}}.png" alt="">
            </span>
            <!-- 저기 원래 on/11.png 막 이캤는데 이거 번호 대로 넣으려고 {{number}} 이렇게 썼어! 한 개씩 출력 -->
        {% endfor %}

        
    </div>

</body>

</html>