<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/next.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="{% static './img/mainlogo.png' %}" alt="" />
        </div>
        <!-- <p>졸업시뮬레이션</p> -->
        <!-- <div class = "slogan">
                    <img src="{% static './img/slogan.jpg' %}" alt=""/>
                </div> -->
    </div>
    
    <div class="container">
        <div class="title">
            <h5>IT대학</h5>
            <hr>
            <p>&nbsp 심화컴퓨터공학 전공</p><br>
            <p>
                선택한 과목 수: [ 기본소양 : {{basic_cnt}} , 전공기반 : {{base_cnt}} , 공학전공 : {{major_cnt}} , 교직이수 : {{teach_cnt}} ]
            </p>
        </div>
    
    <form method="POST" action="{% url 'final' %}">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">구분</th>
                    <th scope="col">과목번호</th>
                    <th scope="col">과목명</th>
                    <th scope="col">학점</th>
                    <th scope="col">성적</th>
                </tr>
            </thead>
            <tbody>
                {% for s in s_list %}
                <tr>
                    <th scope="row">{{s.category.nameofClass}}</th>
                    <td>{{s.subjectcode}}</td>
                    <td>{{s.subjecttitle}}</td>
                    <td>{{s.subjectscore}}</td>
                    <td>
                        <select>
                            <option value="4.3">A+</option>
                            <option value="4.0">A0</option>
                            <option value="3.7">A-</option>
                            <option value="3.3">B+</option>
                            <option value="3.0">B0</option>
                            <option value="2.7">B-</option>
                            <option value="2.3">C+</option>
                            <option value="2.0">C0</option>
                            <option value="1.7">C-</option>
                            <option value="1.3">D+</option>
                            <option value="1.0">D0</option>
                            <option value="0.7">D-</option>
                            <option value="0">F</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-secondary" style="float:right">제출</button>
    </form>
        
    </div>
</body>