<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="nav">
        <h3 </div> <h1>수강과목</h1>



            <br><br>

            <form action="/next/">
                <div class="main">
                    <div class="sub">
                        <h3>기본소양</h3><br>
                        <input type="checkbox" name="basic1" value="CLTR003"> 실용화법</input> <br>
                        <input type="checkbox" name="basic2" value="CLTR263"> 문화기술개론</input> <br>
                        <input type="checkbox" name="basic3" value="CLTR045"> 이산수학(필수)</input> <br>
                        <input type="checkbox" name="basic4" value="CLTR264"> 기초공학물리학실험(필수)</input> <br>

                        <input type="checkbox" name="basic5" value="COMP417"> 컴퓨터윤리</input> <br>
                        <input type="checkbox" name="basic6" value="CLTR495"> 공학커뮤니케이션 </input> <br>
                        <input type="checkbox" name="basic7" value="CLTR204"> 과학과기술 글쓰기</input> <br>
                        <input type="checkbox" name="basic8" value="CLTR043"> 서양의 역사와 문화</input> <br>

                        <input type="checkbox" name="basic9" value="CLTR086"> 기업가정신과 벤처창업</input> <br>
                        <input type="checkbox" name="basic10" value="CLTR078"> 심리학의 이해</input> <br>
                        <input type="checkbox" name="basic11" value="CLTR497"> 공학프로제트 매니지먼트</input> <br>
                        <input type="checkbox" name="basic12" value="CLTR639"> 디자인과 현대문화</input> <br>

                        <input type="checkbox" name="basic13" value="ITEC403">IT지식재산권 </input> <br>
                        <input type="checkbox" name="basic14" value="COMP428">IT기술경영개론 </input> <br>


                    </div>
                    <div class="sub">
                        <h3>전공기반</h3><br>
                        <!-- 1학년 -->
                        <input type="checkbox" name="base1" value="COME301"> 이산수학(필수)</input> <br>
                        <input type="checkbox" name="base2" value="COMP208"> 기초공학물리학실험(필수) </input> <br>
                        <input type="checkbox" name="base3" value="CLTR211"> 수학I</input> <br>
                        <input type="checkbox" name="base4" value="CLTR213"> 물리학I</input> <br>
                        <!-- 2 -->
                        <input type="checkbox" name="base5" value="ENGR211"> 공학수학1 </input> <br>
                        <input type="checkbox" name="base6" value="COME311"> 확률및통계</input> <br>
                        <input type="checkbox" name="base7" value="MTED231"> 선형대수</input> <br>
                        <input type="checkbox" name="base8" value="CLTR217"> 생물학I</input> <br>
                        <!-- 3 -->
                        <input type="checkbox" name="base9" value="ITEC419"> 데이터과학기초 </input> <br>
                        <input type="checkbox" name="base10" value="STAT452"> 수치해석</input> <br>
                    </div>
                    <div class="sub">
                        <h3>공학전공</h3>
                        <input type="checkbox" name="comp1" value="COMP209"> 소프트웨어와 문제해결<br>
                        <input type="checkbox" name="comp2" value="ITCE201"> 컴퓨터학개론 <br>
                        <input type="checkbox" name="comp3" value="COMP205"> 기초창의공학설계(필수)<br>
                        <input type="checkbox" name="comp4" value="COMP206"> 기초프로그래밍(필수)</input> <br>
                        <input type="checkbox" name="comp5" value="COMP207"> 기초프로그래밍실습</input> <br>

                        <input type="checkbox" name="comp6" value="COME331"> 자료구조(필수)</input> <br>
                        <input type="checkbox" name="comp7" value="COMP216"> 자료구조응용</input> <br>
                        <input type="checkbox" name="comp8" value="COMP217"> 자바프로그래밍(필수)</input> <br>
                        <input type="checkbox" name="comp9" value="COMP315"> 오토마타 및 형식언어</input> <br>
                        <input type="checkbox" name="comp10" value="ELEC247"> 논리회로 </input> <br>
                        <input type="checkbox" name="comp11" value="COMP224"> 소프트웨어설계</input> <br>
                        <input type="checkbox" name="comp12" value="COMP225"> 디지털설계 및 실험</input> <br>
                        <input type="checkbox" name="comp13" value="COMP411"> 컴퓨터구조(필수)</input> <br>
                        <input type="checkbox" name="comp14" value="ELEC462"> 시스템프로그래밍(필수)</input> <br>
                        <input type="checkbox" name="comp15" value="ITEC423"> 자료구조프로그래밍</input> <br>
                        <input type="checkbox" name="comp16" value="COMP312"> 운영체제(필수)</input> <br>
                        <input type="checkbox" name="comp17" value="COMP319"> 알고리즘1(필수)</input> <br>
                        <input type="checkbox" name="comp18" value="COMP321"> 컴파일러</input> <br>
                        <input type="checkbox" name="comp19" value="COMP422"> 소프트웨어공학</input> <br>
                        <input type="checkbox" name="comp20" value="EECS312"> 네트워크프로그래밍</input> <br>
                        <input type="checkbox" name="comp21" value="COMP320"> 알고리즘2</input> <br>
                        <input type="checkbox" name="comp22" value="COMP322"> 데이타베이스</input> <br>
                        <input type="checkbox" name="comp23" value="COMP323"> 데이타통신</input> <br>
                        <input type="checkbox" name="comp24" value="COMP328"> 모바일앱프로그래밍1</input> <br>
                        <input type="checkbox" name="comp25" value="ITEC401"> 종합설계프로젝트1(필수)</input> <br>

                        <input type="checkbox" name="comp26" value="COMP324"> 인공지능</input> <br>
                        <input type="checkbox" name="comp27" value="COMP413"> 컴퓨터그래픽스</input> <br>
                        <input type="checkbox" name="comp28" value="COMP414"> 컴퓨터망</input> <br>
                        <input type="checkbox" name="comp29" value="COMP419"> 정보검색</input> <br>
                        <input type="checkbox" name="comp30" value="COMP420"> 모바일앱프로그래밍2</input> <br>
                        <input type="checkbox" name="comp31" value="COMP321"> 종합설계프로젝트2(필수)</input> <br>
                        <input type="checkbox" name="comp32" value="ITEC413"> 인간과컴퓨터상호작용설계</input> <br>
                        <input type="checkbox" name="comp33" value="ITEC414"> 소프트웨어테스팅 이론</input> <br>
                        <input type="checkbox" name="comp34" value="ITEC415"> 고급문제해결</input> <br>
                        <input type="checkbox" name="comp35" value="ITEC416"> 고급웹프로그래밍</input> <br>
                        <input type="checkbox" name="comp36" value="ITEC420"> 모바일로봇프로그래밍</input> <br>
                        <input type="checkbox" name="comp37" value="COME368"> 정보보호론</input> <br>
                        <input type="checkbox" name="comp38" value="COMP423"> 프로그래밍언어론</input> <br>
                        <input type="checkbox" name="comp39" value="COMP424"> 무선네트워크</input> <br>
                        <input type="checkbox" name="comp40" value="COMP432"> 소프트웨어특강</input> <br>
                        <input type="checkbox" name="comp41" value="COMP435"> 디지털미디어아트</input> <br>
                        <input type="checkbox" name="comp42" value="ITEC421"> 소프트웨어디자인패턴</input> <br>
                        <input type="checkbox" name="comp43" value="ITEC417"> 기계학습개론</input> <br>
                        <input type="checkbox" name="comp44" value="ITEC418"> 대규모병렬컴퓨팅</input> <br>
                        <input type="checkbox" name="comp45" value="ITEC422"> 의료융합소프트웨어</input> <br>
                        <input type="checkbox" name="comp46" value="ITEC424"> 컴퓨터비전</input> <br>
                        <input type="checkbox" name="comp47" value="ITEC425"> 컴퓨터게임제작</input> <br>

                    </div>



                    <div class="sub">
                        <h3>교직이수</h3><br>
                        <input type="checkbox" name="teach1" value="TCHR499"> 컴퓨터 논리 및 논술지도</input> <br>
                        <input type="checkbox" name="teach2" value="TCHR593"> 컴퓨터교육론</input> <br>
                        <input type="checkbox" name="teach3" value="TCHR594"> 컴퓨터교재연구 및 지도법</input> <br>

                        <input type="checkbox" name="teach4" value="TCHR522"> 학교현장실습</input> <br>

                        <input type="checkbox" name="teach5" value="TCHR520"> 생활지도 및 상담(교직소양)</input> <br>
                        <input type="checkbox" name="teach6" value="TCHR525"> 학교폭력예방의 이론과 실제</input> <br>
                        <input type="checkbox" name="teach7" value="TCHR528"> 특수교육학개론</input> <br>
                        <input type="checkbox" name="teach8" value="TCHR529"> 교직실무</input> <br>
                        <input type="checkbox" name="teach9" value="TCHR552"> 교육봉사활동2</input> <br>
                        <input type="checkbox" name="teach10" value="TCHR601"> 교육과정</input> <br>
                        <input type="checkbox" name="teach11" value="TCHR604"> 교육방법 및 교육공학</input> <br>
                        <input type="checkbox" name="teach12" value="TCHR606"> 교육사회</input> <br>
                        <input type="checkbox" name="teach13" value="TCHR607"> 교육심리</input> <br>
                        <input type="checkbox" name="teach14" value="TCHR609"> 교육철학 및 교육사</input> <br>
                        <input type="checkbox" name="teach15" value="TCHR610"> 교육평가</input> <br>
                        <input type="checkbox" name="teach16" value="TCHR611"> 교육학개론</input> <br>
                        <input type="checkbox" name="teach17" value="TCHR612"> 교육행정 및 교육경영</input> <br>
                    </div>
                </div>
                <br>
                <input type="submit"></input>